In [1]:
'''
【课程2.2】 Pandas数据结构Series：基本概念
一维数组：Series
'''

'\n【课程2.2】 Pandas数据结构Series：基本概念\n一维数组：Series\n'

In [4]:
# Series 数据结构
# Series 是带有标签的一维数组，可以保存任何数据类型（整数，字符串，浮点数，Python对象等）,轴标签统称为索引
import numpy as np
import pandas as pd

s = pd.Series(np.random.rand(5))
print(s)
print(type(s))

print(s.index,type(s.index))
print(s.values,type(s.values))
# .index查看series索引，类型为rangindex
# .values查看series值，类型为ndarray

# 核心：series相比于ndarray，是一个自带索引index的数组 → 一维数组 + 对应索引
# 所以当只看series的值的时候，就是一个ndarray
# series和ndarray较相似，索引切片功能差别不大
# series和dict相比，series更像一个有顺序的字典（dict本身不存在顺序），其索引原理与字典相似（一个用key，一个用index）

0    0.281887
1    0.517176
2    0.756315
3    0.503433
4    0.632146
dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex(start=0, stop=5, step=1) <class 'pandas.core.indexes.range.RangeIndex'>
[0.28188668 0.51717604 0.75631526 0.50343311 0.63214598] <class 'numpy.ndarray'>

In [5]:
# Series 创建方法一：由字典创建，字典的key就是index，values就是values

dic = {'a':1,'b':2,'c':3,'d':4,'5':5}
s = pd.Series(dic)
print(s)
# 注意：key肯定是字符串，假如values类型不止一个会怎么样？ → dic = {'a':1 ,'b':'hello' , 'c':3, '4':4, '5':5}
dic2 = {'a':1 ,'b':'hello' , 'c':[3,4], '4':4, '5':5}
s2 = pd.Series(dic2)
print(s2)

5    5
a    1
b    2
c    3
d    4
dtype: int64
4         4
5         5
a         1
b     hello
c    [3, 4]
dtype: object

In [9]:
# Series 创建方法二：由数组创建(一维数组)
lst = np.random.randn(5) # 生成5个0-1的浮点数
s = pd.Series(lst)
print(s)
s = pd.Series(lst, index=['a','b','c','d','e'],dtype=np.object)
print(s)
# index参数：设置index，长度保持一致
# dtype参数：设置数值类型

0    0.282509
1    0.644130
2    1.154738
3   -0.510406
4    0.321929
dtype: float64
a    0.282509
b     0.64413
c     1.15474
d   -0.510406
e    0.321929
dtype: object

In [10]:
# Series 创建方法三：由标量创建
s = pd.Series(10, index = range(4))
print(s)
# 如果data是标量值，则必须提供索引。该值会重复，来匹配索引的长度

0    10
1    10
2    10
3    10
dtype: int64

In [14]:
# Series 名称属性： name
s1 = pd.Series(np.random.randn(5))
print(s1)
print('**'*20)
s2 = pd.Series(np.random.randn(5),name='test')
print(s2)
print(s1.name,s2.name,type(s2.name))
# name为Series的一个参数，创建一个数组的 名称
# .name方法：输出数组的名称，输出格式为str，如果没用定义输出名称，输出为None

s3 = s2.rename('kk')
print(s3)
print(s3.name,s2.name)
# .rename()重命名一个数组的名称，并且新指向一个数组，原数组不变

0   -0.914108
1   -0.478982
2   -0.192574
3    1.676605
4   -0.317027
dtype: float64
****************************************
0   -0.132058
1    2.156802
2   -1.677431
3    1.616288
4   -0.655714
Name: test, dtype: float64
None test <class 'str'>
0   -0.132058
1    2.156802
2   -1.677431
3    1.616288
4   -0.655714
Name: kk, dtype: float64
kk test

In [15]:
'''
【课程2.3】  Pandas数据结构Series：索引

位置下标 / 标签索引 / 切片索引 / 布尔型索引

'''

'\n【课程2.3】  Pandas数据结构Series：索引\n\n位置下标 / 标签索引 / 切片索引 / 布尔型索引\n\n'

In [19]:
# 位置下标，类似序列
s = pd.Series(np.random.rand(5))
print(s)
print(s[0],type(s[0]),s[0].dtype) #.dtype 是属性不是方法？
print(float(s[0]),type(float(s[0])))
#print(s[-1]) 不可行
# 位置下标从0开始
# 输出结果为numpy.float格式，
# 可以通过float()函数转换为python float格式
# numpy.float与float占用字节不同
# s[-1]结果如何？

0    0.739584
1    0.411755
2    0.202290
3    0.574432
4    0.839930
dtype: float64
0.739584387698748 <class 'numpy.float64'> float64
0.739584387698748 <class 'float'>

In [21]:
#标签索引
s = pd.Series(np.random.rand(5),index=['a','b','c','d','e'])
print(s)
print(s['b'],type(s['b']),s['b'].dtype)
# 方法类似下标索引，用[]表示，内写上index，注意index是字符串

sci = s[['a','b','c']]
print(sci,type(sci))
# 如果需要选择多个标签的值，用[[]]来表示（相当于[]中包含一个列表）
# 多标签索引结果是新的数组

a    0.453897
b    0.186553
c    0.576238
d    0.511351
e    0.488370
dtype: float64
0.1865530983684679 <class 'numpy.float64'> float64
a    0.453897
b    0.186553
c    0.576238
dtype: float64 <class 'pandas.core.series.Series'>

In [23]:
# 切片索引
s1 = pd.Series(np.random.rand(5))
s2 = pd.Series(np.random.rand(5),index=['a','b','c','d','e'])
print(s1[1:4],s1[4]) #左闭右开
print(s2['a':'c'],s2['c']) #index/标签 为闭区间
print(s2[0:3],s2[3]) #下标为左闭右开
print('-----')
# 注意：用index做切片是末端包含

print(s2[:-1])
print(s2[::2]) #步长为2
# 下标索引做切片，和list写法一样

1    0.618059
2    0.500409
3    0.497344
dtype: float64 0.03113559331487048
a    0.122995
b    0.900623
c    0.497436
dtype: float64 0.4974355408696063
a    0.122995
b    0.900623
c    0.497436
dtype: float64 0.8795314679202872
-----
a    0.122995
b    0.900623
c    0.497436
d    0.879531
dtype: float64
a    0.122995
c    0.497436
e    0.946557
dtype: float64

In [27]:
# 布尔型索引
s = pd.Series(np.random.rand(3)*100)
s[4] = None
print(s)
bs1 = s>50
bs2  = s.isnull()
bs3 = s.notnull()
print(bs1,type(bs1),bs1.dtype)
print(bs2,type(bs2),bs2.dtype)
print(bs3,type(bs3),bs3.dtype)
# 数组做判断之后，返回的是一个由布尔值组成的新的数组
# .isnull() / .notnull() 判断是否为空值 (None代表空值，NaN代表有问题的数值，两个都会识别为空值)

print(s[s>30])
print(s[bs3])
# 布尔型索引方法：用[判断条件]表示，其中判断条件可以是 一个语句，或者是 一个布尔型数组！

0    19.2699
1    87.6403
2    42.7927
4       None
dtype: object
0    False
1     True
2    False
4    False
dtype: bool <class 'pandas.core.series.Series'> bool
0    False
1    False
2    False
4     True
dtype: bool <class 'pandas.core.series.Series'> bool
0     True
1     True
2     True
4    False
dtype: bool <class 'pandas.core.series.Series'> bool
1    87.6403
2    42.7927
dtype: object
0    19.2699
1    87.6403
2    42.7927
dtype: object

In [28]:
'''
【课程2.4】  Pandas数据结构Series：基本技巧

数据查看 / 重新索引 / 对齐 / 添加、修改、删除值

'''

'\n【课程2.4】  Pandas数据结构Series：基本技巧\n\n数据查看 / 重新索引 / 对齐 / 添加、修改、删除值\n\n'

In [29]:
# 数据查看

s = pd.Series(np.random.rand(50))
print(s.head(10))
print(s.tail())
# .head()查看头部数据
# .tail()查看尾部数据
# 默认查看5条

0    0.696404
1    0.304092
2    0.254399
3    0.570432
4    0.566425
5    0.093768
6    0.322169
7    0.298394
8    0.135787
9    0.855758
dtype: float64
45    0.913485
46    0.757550
47    0.105611
48    0.142382
49    0.341843
dtype: float64

In [32]:
# 重新索引reindex
# .reindex将会根据索引重新排序，如果当前索引不存在，则引入缺失值
s = pd.Series(np.random.rand(3),index=['a','b','c'])
print(s)
s1 = s.reindex(['a','b','c','d'])
print(s1)
# .reindex()中也是写列表
# 这里'd'索引不存在，所以值为NaN

s2 = s.reindex(['c','b','a','d'],fill_value = 0)
print(s2)
# fill_value参数：填充缺失值的值,按照.reindex重新排序，缺失补0

a    0.277177
b    0.857038
c    0.096259
dtype: float64
a    0.277177
b    0.857038
c    0.096259
d         NaN
dtype: float64
c    0.096259
b    0.857038
a    0.277177
d    0.000000
dtype: float64

In [34]:
# Series 对齐
s1 = pd.Series(np.random.rand(3), index = ['Jack','Marry','Tom'])
s2 = pd.Series(np.random.rand(3), index = ['Wang','Jack','Marry'])
print(s1)
print(s2)
print(s1+s2)
# Series 和 ndarray 之间的主要区别是，Series 上的操作会根据标签自动对齐
# index顺序不会影响数值计算，以标签来计算
# 空值和任何值计算结果扔为空值

Jack     0.764259
Marry    0.856439
Tom      0.791067
dtype: float64
Wang     0.416826
Jack     0.388395
Marry    0.594240
dtype: float64
Jack     1.152654
Marry    1.450679
Tom           NaN
Wang          NaN
dtype: float64

In [35]:
# 删除：drop
s = pd.Series(np.random.rand(5), index = list('ngjur'))
print(s)
s1 = s.drop('n')
s2 = s.drop(['g','j'])
print(s1)
print(s2)
print(s)
# drop 删除元素之后返回副本(inplace=False)

n    0.634430
g    0.957494
j    0.840166
u    0.333807
r    0.715621
dtype: float64
g    0.957494
j    0.840166
u    0.333807
r    0.715621
dtype: float64
n    0.634430
u    0.333807
r    0.715621
dtype: float64
n    0.634430
g    0.957494
j    0.840166
u    0.333807
r    0.715621
dtype: float64

In [37]:
# 添加
s1 = pd.Series(np.random.rand(5))
s2 = pd.Series(np.random.rand(5), index = list('ngjur'))
print(s1)
print(s2)
s1[5] = 100
s2['a'] = 100
print(s1)
print(s2)
print('--'*30)
# 直接通过下标索引/标签index添加值

s3 = s1.append(s2)
print(s3)
print(s1)
# 通过.append方法，直接添加一个数组
# .append方法生成一个新的数组，不改变之前的数组

0    0.522020
1    0.901055
2    0.393745
3    0.119362
4    0.474597
dtype: float64
n    0.679968
g    0.884592
j    0.124746
u    0.154954
r    0.570999
dtype: float64
0      0.522020
1      0.901055
2      0.393745
3      0.119362
4      0.474597
5    100.000000
dtype: float64
n      0.679968
g      0.884592
j      0.124746
u      0.154954
r      0.570999
a    100.000000
dtype: float64
------------------------------------------------------------
0      0.522020
1      0.901055
2      0.393745
3      0.119362
4      0.474597
5    100.000000
n      0.679968
g      0.884592
j      0.124746
u      0.154954
r      0.570999
a    100.000000
dtype: float64
0      0.522020
1      0.901055
2      0.393745
3      0.119362
4      0.474597
5    100.000000
dtype: float64

In [6]:
# 修改
s = pd.Series(np.random.rand(3), index = ['a','b','c'])
print(s)
s['a'] = 100
s[['b','c']] = 200
s[2] = 1
print(s)
# 通过索引直接修改，类似序列

a    0.812449
b    0.858592
c    0.930952
dtype: float64
a    100.0
b    200.0
c      1.0
dtype: float64

In [7]:
'''
【课程2.5】  Pandas数据结构Dataframe：基本概念及创建

"二维数组"Dataframe：是一个表格型的数据结构，包含一组有序的列，其列的值类型可以是数值、字符串、布尔值等。

Dataframe中的数据以一个或多个二维块存放，不是列表、字典或一维数组结构。

'''

'\n【课程2.5】  Pandas数据结构Dataframe：基本概念及创建\n\n"二维数组"Dataframe：是一个表格型的数据结构，包含一组有序的列，其列的值类型可以是数值、字符串、布尔值等。\n\nDataframe中的数据以一个或多个二维块存放，不是列表、字典或一维数组结构。\n\n'

In [11]:
# DataFrame 数据结构
# DataFrame 是一个表格型的数据结构，带有标签的二维数组
# DataFrame 带有index(行标签)和colums(行标签)

data = {'name':['Jack','Tom','Mary'],
        'age':[18,19,20],
       'gender':['m','m','w']   
}
frame = pd.DataFrame(data)
print(frame)
print(type(frame))
print(frame.index,'\n该数据类型为：', type(frame.index))
print(frame.columns,'\n该数据类型为：', type(frame.columns))
print(frame.values,'\n该数据类型为：', type(frame.values))
# 查看数据，数据类型为dataframe
# .index查看行标签
# .columns查看列标签
# .values查看值，数据类型为ndarray

   age gender  name
0   18      m  Jack
1   19      m   Tom
2   20      w  Mary
<class 'pandas.core.frame.DataFrame'>
RangeIndex(start=0, stop=3, step=1)
该数据类型为： <class 'pandas.core.indexes.range.RangeIndex'>
Index(['age', 'gender', 'name'], dtype='object')
该数据类型为： <class 'pandas.core.indexes.base.Index'>
[[18 'm' 'Jack']
 [19 'm' 'Tom']
 [20 'w' 'Mary']]
该数据类型为： <class 'numpy.ndarray'>

In [14]:
# Dataframe 创建方法一：由数组/list组成的字典
# 创建方法：pandas.DataFrame()
data1 = {'a':[1,2,3],
        'b':[3,4,5],
        'c':[5,6,7]}
data2 = {'one':np.random.rand(3),
        'two':np.random.rand(3)}
print(data1)
print(data2)
df1 =  pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print(df2)
# 由数组/list组成的字典 创建Dataframe，columns为字典key，index为默认数字标签
# 字典的值的长度必须保持一致！

df1 = pd.DataFrame(data1,columns=['b','c','a','d'])
print(df1)
df1 = pd.DataFrame(data1,columns=['b','c'])
print(df1)
# columns参数：可以重新指定列的顺序，格式为list，如果现有数据中没有该列（比如'd'），则产生NaN值
# 如果columns重新指定时候，列的数量可以少于原数据

df2 = pd.DataFrame(data2,index=['f1','f2','f3'])
print(df2)
# index参数：重新定义index，格式为list，长度必须保持一致

{'a': [1, 2, 3], 'b': [3, 4, 5], 'c': [5, 6, 7]}
{'one': array([0.48611093, 0.5366118 , 0.68209244]), 'two': array([0.47411044, 0.10821967, 0.91075635])}
   a  b  c
0  1  3  5
1  2  4  6
2  3  5  7
        one       two
0  0.486111  0.474110
1  0.536612  0.108220
2  0.682092  0.910756
   b  c  a    d
0  3  5  1  NaN
1  4  6  2  NaN
2  5  7  3  NaN
   b  c
0  3  5
1  4  6
2  5  7
         one       two
f1  0.486111  0.474110
f2  0.536612  0.108220
f3  0.682092  0.910756

In [16]:
# DataFrame 创建方法二：由Series组成的字典
data1 = {'one':pd.Series(np.random.rand(2)),
        'two':pd.Series(np.random.rand(3))}  # 没有设置index的Series
data2 = {'one':pd.Series(np.random.rand(2), index = ['a','b']),
        'two':pd.Series(np.random.rand(3),index = ['a','b','c'])}  # 设置了index的Series
print(data1)
print(data2)
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print(df2)

{'one': 0    0.335534
1    0.729707
dtype: float64, 'two': 0    0.571486
1    0.263200
2    0.455938
dtype: float64}
{'one': a    0.150264
b    0.113622
dtype: float64, 'two': a    0.869292
b    0.895985
c    0.375692
dtype: float64}
        one       two
0  0.335534  0.571486
1  0.729707  0.263200
2       NaN  0.455938
        one       two
a  0.150264  0.869292
b  0.113622  0.895985
c       NaN  0.375692

In [17]:
# DataFrame 创建方法三： 通过二维数组直接创建
ar = np.random.rand(9).reshape(3,3)
print(ar)
df1 = pd.DataFrame(ar)
df2 = pd.DataFrame(ar,index=list('abc'),columns=['one','two','threee'])
print(df1)
print(df2)
# 通过二维数组直接创建Dataframe，得到一样形状的结果数据，如果不指定index和columns，两者均返回默认数字格式
# index和colunms指定长度与原数组保持一致

[[0.83417205 0.38979853 0.09042241]
 [0.31944703 0.66886964 0.00567616]
 [0.31507082 0.65108444 0.63168792]]
          0         1         2
0  0.834172  0.389799  0.090422
1  0.319447  0.668870  0.005676
2  0.315071  0.651084  0.631688
        one       two    threee
a  0.834172  0.389799  0.090422
b  0.319447  0.668870  0.005676
c  0.315071  0.651084  0.631688

In [20]:
# DataFrame 创建方法四：由字典组成的列表
data = [{'one': 1, 'two': 2}, {'one': 5, 'two': 10, 'three': 20}]
print(data)
df1 = pd.DataFrame(data)
print(df1)
df2 = pd.DataFrame(data,index = ['a','b'])
print(df2)
df3 = pd.DataFrame(data, columns=['one','two'])
print(df3)
# 由字典组成的列表创建Dataframe，columns为字典的key，index不做指定则为默认数组标签
# colunms和index参数分别重新指定相应列及行标签

[{'one': 1, 'two': 2}, {'one': 5, 'two': 10, 'three': 20}]
   one  three  two
0    1    NaN    2
1    5   20.0   10
   one  three  two
a    1    NaN    2
b    5   20.0   10
   one  two
0    1    2
1    5   10

In [23]:
# DataFrame 创建方法五：由字典组成的字典
data = {'Jack':{'math':90,'english':89,'art':78},
       'Marry':{'math':82,'english':95,'art':92},
       'Tom':{'math':78,'english':67}}
df1 = pd.DataFrame(data)
print(df1)
# 由字典组成的字典创建Dataframe，columns为字典的key，index为子字典的key

df2 = pd.DataFrame(data, columns = ['Jack','Tom','Bob'])
df3 = pd.DataFrame(data, index = ['a','b','c'])
print(df2)
print(df3)
# columns参数可以增加和减少现有列，如出现新的列，值为NaN
# index在这里和之前不同，并不能改变原有index，如果指向新的标签，值为NaN （非常重要！）

         Jack  Marry   Tom
art        78     92   NaN
english    89     95  67.0
math       90     82  78.0
         Jack   Tom  Bob
art        78   NaN  NaN
english    89  67.0  NaN
math       90  78.0  NaN
   Jack  Marry  Tom
a   NaN    NaN  NaN
b   NaN    NaN  NaN
c   NaN    NaN  NaN

In [24]:
'''
【课程2.6】  Pandas数据结构Dataframe：索引

Dataframe既有行索引也有列索引，可以被看做由Series组成的字典（共用一个索引）

选择列 / 选择行 / 切片 / 布尔判断

'''

'\n【课程2.6】  Pandas数据结构Dataframe：索引\n\nDataframe既有行索引也有列索引，可以被看做由Series组成的字典（共用一个索引）\n\n选择列 / 选择行 / 切片 / 布尔判断\n\n'

In [26]:
# 选择行与列

df = pd.DataFrame(np.random.rand(12).reshape(3,4)*100,
                  index = ['one','two','threee'],
                 columns = ['a','b','c','d'])

print(df)

data1 = df['a']
data2 = df[['a','c']]
print(data1,type(data1))
print(data2,type(data2))
print('--'*30)
# 按照列名选择列，只选择一列输出Series, 选择多列输出DataFrame

data3 = df.loc['one']
data4 = df.loc[['one','two']]
print(data3,type(data3))
print(data4,type(data4))
# 按照index选择行，只选择一行输出Series，选择多行输出Dataframe

                a          b          c          d
one     25.602147  12.284930  27.962150  39.849790
two     38.319481  77.151854  13.177953  42.541528
threee  88.501715  70.958444  50.200228  55.346005
one       25.602147
two       38.319481
threee    88.501715
Name: a, dtype: float64 <class 'pandas.core.series.Series'>
                a          c
one     25.602147  27.962150
two     38.319481  13.177953
threee  88.501715  50.200228 <class 'pandas.core.frame.DataFrame'>
------------------------------------------------------------
a    25.602147
b    12.284930
c    27.962150
d    39.849790
Name: one, dtype: float64 <class 'pandas.core.series.Series'>
             a          b          c          d
one  25.602147  12.284930  27.962150  39.849790
two  38.319481  77.151854  13.177953  42.541528 <class 'pandas.core.frame.DataFrame'>

In [27]:
# df[] -选择列
#一般用于选择列，也可以用于选择行

df = pd.DataFrame(np.random.rand(12).reshape(3,4)*100,
                   index = ['one','two','three'],
                   columns = ['a','b','c','d'])
print(df)
print('-----')

data1 = df['a']
data2 = df[['b','c']]  # 尝试输入 data2 = df[['b','c','e']]
print(data1)
print(data2)
# df[]默认选择列，[]中写列名（所以一般数据colunms都会单独制定，不会用默认数字列名，以免和index冲突）
# 单选列为Series，print结果为Series格式
# 多选列为Dataframe，print结果为Dataframe格式

data3 = df[:1]
#data3 = df[0]
#data3 = df['one']
print(data3,type(data3))
# df[]中为数字时，默认选择行，且只能进行切片的选择，不能单独选择（df[0]）
# 输出结果为Dataframe，即便只选择一行
# df[]不能通过索引标签名来选择行(df['one'])

# 核心笔记：df[col]一般用于选择列，[]中写列名

               a          b          c          d
one    43.201591  64.494929  87.921403  35.723294
two    31.597857  72.746263  39.930697  52.959048
three  97.933888  66.516481  59.926988  17.879571
-----
one      43.201591
two      31.597857
three    97.933888
Name: a, dtype: float64
               b          c
one    64.494929  87.921403
two    72.746263  39.930697
three  66.516481  59.926988
             a          b          c          d
one  43.201591  64.494929  87.921403  35.723294 <class 'pandas.core.frame.DataFrame'>

In [31]:
# df.loc[] --按照index选择行

df1 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
df2 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df1)
print(df2)
print('**'*30)
data1 = df1.loc['one']
data2 = df2.loc[1]
print(data1)
print(data2)
print('单标签索引\n-----')
# 单个标签索引，返回Series

data3 = df1.loc[['two','three','five']]
data4 = df2.loc[[3,2,1]]
print(data3)
print(data4)
print('多标签索引\n-----')
# 多个标签索引，如果标签不存在，则返回NaN
# 顺序可变

data5 = df1.loc['one':'three']
data6 = df2.loc[1:3]
print(data5)
print(data6)
print('切片索引')

# 可以做切片对象
# 末端包含
# 核心笔记：df.loc[label]主要针对index选择行，同时支持指定index，及默认数字index

               a          b          c          d
one    46.878915  31.871602  41.388628  67.727304
two    60.355266  60.896330   3.576304  91.011626
three  71.058331  49.282609  93.377421  12.513066
four   58.006767   5.201217  23.821358  33.904870
           a          b          c          d
0   0.490546  75.831007  91.804461  69.998120
1  57.203633  79.390709  68.728980  45.233881
2  29.052309  74.408161  12.233215  76.950889
3  16.633151  88.838126  20.625620  88.940506
************************************************************
a    46.878915
b    31.871602
c    41.388628
d    67.727304
Name: one, dtype: float64
a    57.203633
b    79.390709
c    68.728980
d    45.233881
Name: 1, dtype: float64
单标签索引
-----
               a          b          c          d
two    60.355266  60.896330   3.576304  91.011626
three  71.058331  49.282609  93.377421  12.513066
five         NaN        NaN        NaN        NaN
           a          b          c          d
3  16.633151  88.838126  20.625620  88.940506
2  29.052309  74.408161  12.233215  76.950889
1  57.203633  79.390709  68.728980  45.233881
多标签索引
-----
               a          b          c          d
one    46.878915  31.871602  41.388628  67.727304
two    60.355266  60.896330   3.576304  91.011626
three  71.058331  49.282609  93.377421  12.513066
           a          b          c          d
1  57.203633  79.390709  68.728980  45.233881
2  29.052309  74.408161  12.233215  76.950889
3  16.633151  88.838126  20.625620  88.940506
切片索引

C:\Users\22943\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

In [5]:
# 布尔型索引
# 和Series原理相同

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                 index=['one','two','three','four'],
                 columns = ['a','b','c','d'])
print(df)
print('--'*30)
b1 = df <20
print(b1,type(b1))# 也可以书写为 df[df < 20]
print(df[b1])
print('--'*30)
# 不做索引则会对数据每个值进行判断
# 索引结果保留 所有数据：True返回原数据，False返回值为NaN

b2 = df['a'] > 50
print(b2,type(b2))
print(df[b2])  # 也可以书写为 df[df['a'] > 50]
print('------')
# 单列做判断
# 索引结果保留 单列判断为True的行数据，包括其他列

b3 = df[['a','b']] > 50
print(b3,type(b3))
print(df[b3])  # 也可以书写为 df[df[['a','b']] > 50]
print('------')
# 多列做判断
# 索引结果保留 所有数据：True返回原数据，False返回值为NaN

b4 = df.loc[['one','three']] < 50
print(b4,type(b4))
print(df[b4])  # 也可以书写为 df[df.loc[['one','three']] < 50]
print('------')
# 多行做判断
# 索引结果保留 所有数据：True返回原数据，False返回值为NaN

               a          b          c          d
one    48.436760  17.842508  23.163742  90.862901
two    98.312759  79.936428  27.197025  44.381293
three  52.114632  48.699933  96.915941  60.969770
four    9.544332   6.494752  17.068613  15.930126
------------------------------------------------------------
           a      b      c      d
one    False   True  False  False
two    False  False  False  False
three  False  False  False  False
four    True   True   True   True <class 'pandas.core.frame.DataFrame'>
              a          b          c          d
one         NaN  17.842508        NaN        NaN
two         NaN        NaN        NaN        NaN
three       NaN        NaN        NaN        NaN
four   9.544332   6.494752  17.068613  15.930126
------------------------------------------------------------
one      False
two       True
three     True
four     False
Name: a, dtype: bool <class 'pandas.core.series.Series'>
               a          b          c          d
two    98.312759  79.936428  27.197025  44.381293
three  52.114632  48.699933  96.915941  60.969770
------
           a      b
one    False  False
two     True   True
three   True  False
four   False  False <class 'pandas.core.frame.DataFrame'>
               a          b   c   d
one          NaN        NaN NaN NaN
two    98.312759  79.936428 NaN NaN
three  52.114632        NaN NaN NaN
four         NaN        NaN NaN NaN
------
           a     b      c      d
one     True  True   True  False
three  False  True  False  False <class 'pandas.core.frame.DataFrame'>
              a          b          c   d
one    48.43676  17.842508  23.163742 NaN
two         NaN        NaN        NaN NaN
three       NaN  48.699933        NaN NaN
four        NaN        NaN        NaN NaN
------

In [8]:
# 多重索引：比如同时索引行和列
# 先选择列再选择行 —— 相当于对于一个数据，先选择字段，再选择数据量

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print(df)
print('------')

print(df['a'].loc[['one','three']])   # 选择a列的one，three行
print(df[['b','c','d']].iloc[::2])   # 选择b，c，d列的one，three行
print(df[df['a'] < 50].iloc[:2])   # 选择满足判断索引的前两行数据

               a          b          c          d
one    60.291090  83.262237  57.438592  72.417264
two    55.837665  74.939103  90.617037  47.514902
three  66.538176   5.781376  79.632744  93.792015
four   42.660870  63.624943   3.764129  16.048422
------
one      60.291090
three    66.538176
Name: a, dtype: float64
               b          c          d
one    83.262237  57.438592  72.417264
three   5.781376  79.632744  93.792015
             a          b         c          d
four  42.66087  63.624943  3.764129  16.048422

In [9]:
'''
【课程2.7】  Pandas数据结构Dataframe：基本技巧

数据查看、转置 / 添加、修改、删除值 / 对齐 / 排序

'''

'\n【课程2.7】  Pandas数据结构Dataframe：基本技巧\n\n数据查看、转置 / 添加、修改、删除值 / 对齐 / 排序\n\n'

In [11]:
# 数据查看、转置
df = pd.DataFrame(np.random.rand(16).reshape(8,2)*100,
                 columns=['a','b'])
print(df.head(2))
print(df.tail())
# .head()查看头部数据
# .tail()查看尾部数据
# 默认查看5条

print(df.T)
# .T 转置

           a          b
0  70.362484   7.059899
1  68.799593  40.835829
           a          b
3  58.405959  54.773626
4  42.377023  50.765036
5  67.008176  70.756446
6   3.275574  93.838546
7  21.633493  89.853304
           0          1          2          3          4          5  \
a  70.362484  68.799593  92.220051  58.405959  42.377023  67.008176
b   7.059899  40.835829  62.474359  54.773626  50.765036  70.756446

           6          7
a   3.275574  21.633493
b  93.838546  89.853304

In [13]:
# 添加修改
df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df)

df['e'] = 10
df.loc[4] = 20
print(df)
# 新增列/行并赋值

df['e'] = 20
df[['a','c']] = 100
print(df)
# 索引后直接修改值

           a          b          c          d
0  52.388447  56.518294  78.073443  45.317792
1  77.806445  76.572894  58.561057  20.149005
2  59.874301  24.517923  63.275538  29.882448
3  30.556879   9.077452  33.650900  71.006372
           a          b          c          d   e
0  52.388447  56.518294  78.073443  45.317792  10
1  77.806445  76.572894  58.561057  20.149005  10
2  59.874301  24.517923  63.275538  29.882448  10
3  30.556879   9.077452  33.650900  71.006372  10
4  20.000000  20.000000  20.000000  20.000000  20
     a          b    c          d   e
0  100  56.518294  100  45.317792  20
1  100  76.572894  100  20.149005  20
2  100  24.517923  100  29.882448  20
3  100   9.077452  100  71.006372  20
4  100  20.000000  100  20.000000  20

In [17]:
# 删除 del/drop
df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df)

del df['a']
print(df)
print('-----')
# del语句 - 删除列

print(df.drop(0))
print(df.drop([1,2]))
print(df)
print('-----')
# drop()删除行，inplace=False → 删除后生成新的数据，不改变原数据

print(df.drop(['d'], axis = 1))
print(df)
# drop()删除列，需要加上axis = 1，inplace=False → 删除后生成新的数据，不改变原数据

           a          b          c          d
0  31.537343  12.619709  34.163280  59.428643
1  51.027382   2.126041   7.322967  51.331149
2  16.093242   5.068747  95.303744  66.622110
3  71.957888  26.230631   7.218806  16.245973
           b          c          d
0  12.619709  34.163280  59.428643
1   2.126041   7.322967  51.331149
2   5.068747  95.303744  66.622110
3  26.230631   7.218806  16.245973
-----
           b          c          d
1   2.126041   7.322967  51.331149
2   5.068747  95.303744  66.622110
3  26.230631   7.218806  16.245973
           b          c          d
0  12.619709  34.163280  59.428643
3  26.230631   7.218806  16.245973
           b          c          d
0  12.619709  34.163280  59.428643
1   2.126041   7.322967  51.331149
2   5.068747  95.303744  66.622110
3  26.230631   7.218806  16.245973
-----
           b          c
0  12.619709  34.163280
1   2.126041   7.322967
2   5.068747  95.303744
3  26.230631   7.218806
           b          c          d
0  12.619709  34.163280  59.428643
1   2.126041   7.322967  51.331149
2   5.068747  95.303744  66.622110
3  26.230631   7.218806  16.245973

In [18]:
# 对齐
df1 = pd.DataFrame(np.random.randn(10, 4), columns=['A', 'B', 'C', 'D'])
df2 = pd.DataFrame(np.random.randn(7, 3), columns=['A', 'B', 'C'])
print(df1 + df2)
# DataFrame对象之间的数据自动按照列和索引（行标签）对齐

          A         B         C   D
0 -0.374710  1.440504 -1.921264 NaN
1  1.102108  0.897865 -1.168296 NaN
2  0.499892 -1.072350 -2.203528 NaN
3  0.461840  1.135640 -0.943620 NaN
4 -0.454788 -0.023582  0.310516 NaN
5  0.774824 -0.680335  1.488387 NaN
6  0.383499  1.881301 -1.537358 NaN
7       NaN       NaN       NaN NaN
8       NaN       NaN       NaN NaN
9       NaN       NaN       NaN NaN

In [19]:
# 排序1 - 按值排序 .sort_values
# 同样适用于Series

df1 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df1)
print(df1.sort_values(['a'], ascending = True))  # 升序
print(df1.sort_values(['a'], ascending = False))  # 降序
print('------')
# ascending参数：设置升序降序，默认升序
# 单列排序

df2 = pd.DataFrame({'a':[1,1,1,1,2,2,2,2],
                  'b':list(range(8)),
                  'c':list(range(8,0,-1))})
print(df2)
print(df2.sort_values(['a','c']))
# 多列排序，按列顺序排序

           a          b          c          d
0  38.926020  86.131802  35.419868  17.367948
1  27.084517  90.945111  21.874951  95.775320
2  35.905072  27.359613  43.928790  13.200274
3  16.708068  12.352840  22.641885  15.739811
           a          b          c          d
3  16.708068  12.352840  22.641885  15.739811
1  27.084517  90.945111  21.874951  95.775320
2  35.905072  27.359613  43.928790  13.200274
0  38.926020  86.131802  35.419868  17.367948
           a          b          c          d
0  38.926020  86.131802  35.419868  17.367948
2  35.905072  27.359613  43.928790  13.200274
1  27.084517  90.945111  21.874951  95.775320
3  16.708068  12.352840  22.641885  15.739811
------
   a  b  c
0  1  0  8
1  1  1  7
2  1  2  6
3  1  3  5
4  2  4  4
5  2  5  3
6  2  6  2
7  2  7  1
   a  b  c
3  1  3  5
2  1  2  6
1  1  1  7
0  1  0  8
7  2  7  1
6  2  6  2
5  2  5  3
4  2  4  4