In [3]:
'''
【课程2.14  数值计算和统计基础】 课程作业
'''

In [7]:
# 作业1：如图创建一个Dataframe（5*2，值为0-100的随机值），并分别计算key1和key2的均值、中位数、累积和
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.rand(10).reshape(5,2)*100,
                 columns = ['key1','key2'])
print('创建Dataframe为：\n', df)

print('key1的均值为:\n',df['key1'].mean())
print('key1的中位数为：\n', df['key1'].median())
print('key1的累积和为:\n', df['key1'].cumsum())
print('**'*30)
print('key2的均值为:\n',df['key2'].mean())
print('key2的中位数为：\n', df['key2'].median())
df['key1_sum'] = df['key1'].cumsum()
df['key2_sum'] = df['key2'].cumsum()
print('df的累积和为:\n', df)

创建Dataframe为：
         key1       key2
0   0.939303  41.652014
1  50.279099  20.441123
2   0.267344   2.400804
3  82.273952  61.054034
4  12.148126  46.923326
key1的均值为:
 29.181564703006906
key1的中位数为：
 12.148126083715638
key1的累积和为:
 0      0.939303
1     51.218402
2     51.485745
3    133.759697
4    145.907824
Name: key1, dtype: float64
************************************************************
key2的均值为:
 34.49426006997864
key2的中位数为：
 41.65201351594262
df的累积和为:
         key1       key2    key1_sum    key2_sum
0   0.939303  41.652014    0.939303   41.652014
1  50.279099  20.441123   51.218402   62.093136
2   0.267344   2.400804   51.485745   64.493940
3  82.273952  61.054034  133.759697  125.547974
4  12.148126  46.923326  145.907824  172.471300

In [16]:
#作业2：写出一个输入元素直接生成数组的代码块，然后创建一个函数，该函数功能用于判断一个Series是否是唯一值数组，返回“是”和“不是”

def uniq_array(lst):
    s = pd.Series(lst).unique()
    if len(s) == len(lst):
        return '是'
    else:
        return '不是'
lst = list(input('请随机输入一组元素，用逗号(英文符号)隔开:\n').split(','))
#print(lst) 
print('该数组%s唯一值数组.' % uniq_array(lst))

请随机输入一组元素，用逗号(英文符号)隔开:
12,3,sr,f
该数组是唯一值数组.

In [18]:
'''
【课程2.15  文本数据】 课程作业
'''

'\n【课程2.15  文本数据】 课程作业\n'

In [35]:
'''
作业1：如图创建一个Dataframe，并分别通过字符串常用方法得到3个Series或得到新的Dataframe：
① name字段首字母全部大写
② gender字段去除所有空格
③ score字段按照-拆分，分别是math，english，art三个学分

''' 
df1 = pd.DataFrame({'name':['jack','tom','Marry','zack','heheda'],
                  'gender':['M ','M','   F','  M ','  F'],
                  'score':['90-92-89','89-78-88','90-92-95','78-88-76','60-60-67']})
df1['math'] = df1['score'].str.split('-',expand=True)[0]
df1['english'] = df1['score'].str.split('-',expand=True)[1]
df1['art'] = df1['score'].str.split('-',expand=True)[2]
del df1['score']
print('创建DataFrame为：\n',df1)
#df1['gender'] =df1['gender'].str.replace(' ','')
df1['gender'] = df1['gender'].str.strip()
df1['name'] = df1['name'].str.capitalize()
print('修改DataFrame后为：\n',df1)

创建DataFrame为：
   gender    name math english art
0     M     jack   90      92  89
1      M     tom   89      78  88
2      F   Marry   90      92  95
3     M     zack   78      88  76
4      F  heheda   60      60  67
修改DataFrame后为：
   gender    name math english art
0      M    Jack   90      92  89
1      M     Tom   89      78  88
2      F   Marry   90      92  95
3      M    Zack   78      88  76
4      F  Heheda   60      60  67

In [36]:
'''
【课程2.16  合并 merge、join】 课程作业
'''

'\n【课程2.16  合并 merge、join】 课程作业\n'

In [41]:
# 	作业1：按要求创建Dataframe df1、df2，并合并成df3
df1 = pd.DataFrame({'key':list('abc'),
                   'values1':np.random.rand(3)})
print('创建df1为：\n',df1)
df2 = pd.DataFrame({'key':list('bcd'),
                   'values2':np.random.rand(3)})
print('创建df2为：\n',df2)

print('合并df3为：\n',pd.merge(df1,df2,how='outer',on='key'))

创建df1为：
   key   values1
0   a  0.219676
1   b  0.293728
2   c  0.533564
创建df2为：
   key   values2
0   b  0.979936
1   c  0.500499
2   d  0.785875
合并df3为：
   key   values1   values2
0   a  0.219676       NaN
1   b  0.293728  0.979936
2   c  0.533564  0.500499
3   d       NaN  0.785875

In [60]:
# 	作业2：按要求创建Dataframe df1、df2，并合并成df3
df1 = pd.DataFrame({'lkey':list('abc'),
                   'values1':np.random.rand(3)})
print('创建df1为：\n',df1)
df2 = pd.DataFrame({'rkey':list('bcd'),
                   'values2':np.random.rand(3)})
print('创建df2为：\n',df2)
df3 = pd.merge(df1,df2,left_on='lkey',right_on='rkey',how='left')
print('合并df3为：\n',df3)

创建df1为：
   lkey   values1
0    a  0.663535
1    b  0.271350
2    c  0.353376
创建df2为：
   rkey   values2
0    b  0.941902
1    c  0.316924
2    d  0.364131
合并df3为：
   lkey   values1 rkey   values2
0    a  0.663535  NaN       NaN
1    b  0.271350    b  0.941902
2    c  0.353376    c  0.316924
------

In [63]:
# 	作业3：按要求创建Dataframe df1、df2，并合并成df3
df1 = pd.DataFrame({'key':list('abc'),
                   'values1':np.random.rand(3)})
print('创建df1为：\n', df1)

df2 = pd.DataFrame({'values2':np.random.rand(3),
                   'values3':[5,6,7]},
                  index=list('bcd'))
print('创建df2为：\n',df2)
df3 = pd.merge(df1,df2,how ='inner', left_on = 'key', right_index = True)
print('创建df3为：\n',df3)

创建df1为：
   key   values1
0   a  0.449897
1   b  0.750892
2   c  0.891035
创建df2为：
     values2  values3
b  0.669143        5
c  0.486463        6
d  0.110079        7
创建df3为：
   key   values1   values2  values3
1   b  0.750892  0.669143        5
2   c  0.891035  0.486463        6

In [64]:
'''
【课程2.17  连接与修补 concat、combine_first】 课程作业
'''

'\n【课程2.17  连接与修补 concat、combine_first】 课程作业\n'

In [68]:
# 	作业1：按要求创建Dataframe df1、df2，并连接成df3
df1 = pd.DataFrame(np.random.rand(8).reshape(4,2),
                  columns = ['values1','values2'],
                  index=list('abcd'))
print('创建df1为：\n', df1)
df2 = pd.DataFrame(np.random.rand(8).reshape(4,2),
                  columns = ['values1','values2'],
                  index=list('efgh'))
print('创建df2为：\n',df2)
df3 = pd.concat([df1,df2])
print('连接df3为：\n', df3)

创建df1为：
     values1   values2
a  0.673950  0.068073
b  0.572093  0.657756
c  0.758156  0.231130
d  0.284316  0.141473
创建df2为：
     values1   values2
e  0.342572  0.034717
f  0.119142  0.941161
g  0.067065  0.493087
h  0.316445  0.774092
连接df3为：
     values1   values2
a  0.673950  0.068073
b  0.572093  0.657756
c  0.758156  0.231130
d  0.284316  0.141473
e  0.342572  0.034717
f  0.119142  0.941161
g  0.067065  0.493087
h  0.316445  0.774092

In [73]:
# 作业2：按要求创建Dataframe df1、df2，并用df2的值修补df1，生成df3

df1 = pd.DataFrame(np.random.rand(8).reshape(4,2),
                  columns = ['values1','values2'],
                  index=list('abcd'))
df1.loc['b'][0] = np.nan
df1.loc['c'][0] = np.nan
print('创建df1为：\n', df1)
df2 = pd.DataFrame(np.arange(8).reshape(4,2),
                  columns = ['values1','values2'],
                  index=list('abcd'))
print('创建df2为：\n',df2)

df1.combine_first(df2)
print('df1修补后为：\n',df1.combine_first(df2))

创建df1为：
     values1   values2
a  0.603711  0.099043
b       NaN  0.382243
c       NaN  0.184725
d  0.496179  0.559078
创建df2为：
    values1  values2
a        0        1
b        2        3
c        4        5
d        6        7
df1修补后为：
     values1   values2
a  0.603711  0.099043
b  2.000000  0.382243
c  4.000000  0.184725
d  0.496179  0.559078

In [74]:
'''
【课程2.19  数据分组】 课程作业
'''

'\n【课程2.19  数据分组】 课程作业\n'

In [96]:
'''
	作业1：按要求创建Dataframe df，并通过分组得到以下结果
① 以A分组，求出C,D的分组平均值
② 以A,B分组，求出D,E的分组求和
③ 以A分组，得到所有分组，以字典显示
④ 按照数值类型分组，求和
⑤ 将C,D作为一组分出来，并计算求和
⑥ 以B分组，求出每组的均值，求和，最大值，最小值

'''
df = pd.DataFrame({'A':['one','two','three','one','two','three','one','two'],
                  'B':['h','h','h','h','f','f','f','f'],
                  'C':np.arange(10,26,2),
                  'D':np.random.randn(8),
                  'E':np.random.rand(8)})
print('创建df为：\n',df)
print('**'*30)
print('以A分组，求出C，D的分组平均值：\n',df.groupby('A')['C','D'].mean())
print('**'*30)
print('以A，B分组，求出D,E的分组求和：\n',df.groupby(['A','B'])['D','E'].sum())
print('**'*30)
print('以A分组，得到所有分组，以字典显示：\n', df.groupby('A').groups)
print('**'*30)
print('按照数值类型分组，求和:\n', df.groupby(df.dtypes,axis=1).sum())
print('**'*30)
print('将C,D作为一组分出来，并计算求和：\n', df.groupby({'C':'r','D':'r'},axis=1).sum())
print('**'*30)
print('以B分组，求出每组的均值，求和，最大值，最小值：\n',df.groupby('B').agg([np.mean, np.sum, np.max, np.min]))

创建df为：
        A  B   C         D         E
0    one  h  10 -0.700760  0.074592
1    two  h  12 -0.561174  0.505547
2  three  h  14 -0.539177  0.653506
3    one  h  16  0.355972  0.017968
4    two  f  18  1.082353  0.874215
5  three  f  20  1.832208  0.029677
6    one  f  22 -0.192228  0.876148
7    two  f  24  0.476906  0.295070
************************************************************
以A分组，求出C，D的分组平均值：
         C         D
A
one    16 -0.179005
three  17  0.646516
two    18  0.332695
************************************************************
以A，B分组，求出D,E的分组求和：
                 D         E
A     B
one   f -0.192228  0.876148
      h -0.344788  0.092560
three f  1.832208  0.029677
      h -0.539177  0.653506
two   f  1.559259  1.169285
      h -0.561174  0.505547
************************************************************
以A分组，得到所有分组，以字典显示：
 {'one': Int64Index([0, 3, 6], dtype='int64'), 'three': Int64Index([2, 5], dtype='int64'), 'two': Int64Index([1, 4, 7], dtype='int64')}
************************************************************
按照数值类型分组，求和:
    int32   float64  object
0     10 -0.626168    oneh
1     12 -0.055627    twoh
2     14  0.114329  threeh
3     16  0.373940    oneh
4     18  1.956568    twof
5     20  1.861885  threef
6     22  0.683920    onef
7     24  0.771976    twof
************************************************************
将C,D作为一组分出来，并计算求和：
            r
0   9.299240
1  11.438826
2  13.460823
3  16.355972
4  19.082353
5  21.832208
6  21.807772
7  24.476906
************************************************************
以B分组，求出每组的均值，求和，最大值，最小值：
      C                       D                                       E  \
  mean sum amax amin      mean       sum      amax      amin      mean
B
f   21  84   24   18  0.799810  3.199239  1.832208 -0.192228  0.518777
h   13  52   16   10 -0.361285 -1.445139  0.355972 -0.700760  0.312903


        sum      amax      amin
B
f  2.075110  0.876148  0.029677
h  1.251613  0.653506  0.017968

In [97]:
'''
【课程2.20  分组转换及一般性“拆分-应用-合并”】 课程作业
'''

'\n【课程2.20  分组转换及一般性“拆分-应用-合并”】 课程作业\n'

In [112]:
# 作业1：按要求创建Dataframe df，通过key分组求和，并将求和结果并在原df中

df = pd.DataFrame({'data1':np.random.rand(8),
                  'data2':np.random.rand(8),
                  'key': ['a','a','b','b','a','b','a','b']})
print('创建df为:\n',df)
k_sum = df.groupby('key').transform(np.sum)
k_mean = df.groupby('key').transform(np.mean)
#print('求和且合并之后结果为：\n',pd.merge(df,k_sum,left_on='key',right_index=True).add_suffix('_sum'))
print('求均值且合并之后结果为：\n',df.join(k_mean,rsuffix='_mean'))
print('**'*30)
print('求和且合并之后结果为：\n',df.join(k_sum,rsuffix='_sum'))

创建df为:
       data1     data2 key
0  0.802951  0.129469   a
1  0.043494  0.679854   a
2  0.698618  0.948725   b
3  0.179142  0.884266   b
4  0.975779  0.547525   a
5  0.735152  0.534981   b
6  0.786382  0.085955   a
7  0.373124  0.849164   b
求均值且合并之后结果为：
       data1     data2 key  data1_mean  data2_mean
0  0.802951  0.129469   a    0.652151    0.360701
1  0.043494  0.679854   a    0.652151    0.360701
2  0.698618  0.948725   b    0.496509    0.804284
3  0.179142  0.884266   b    0.496509    0.804284
4  0.975779  0.547525   a    0.652151    0.360701
5  0.735152  0.534981   b    0.496509    0.804284
6  0.786382  0.085955   a    0.652151    0.360701
7  0.373124  0.849164   b    0.496509    0.804284
************************************************************
求和且合并之后结果为：
       data1     data2 key  data1_sum  data2_sum
0  0.802951  0.129469   a   2.608606   1.442802
1  0.043494  0.679854   a   2.608606   1.442802
2  0.698618  0.948725   b   1.986036   3.217136
3  0.179142  0.884266   b   1.986036   3.217136
4  0.975779  0.547525   a   2.608606   1.442802
5  0.735152  0.534981   b   1.986036   3.217136
6  0.786382  0.085955   a   2.608606   1.442802
7  0.373124  0.849164   b   1.986036   3.217136

In [113]:
'''
【课程2.21  透视表及交叉表】 课程作业
'''

'\n【课程2.21  透视表及交叉表】 课程作业\n'

In [8]:
'''
作业1：按要求创建Dataframe df，并通过数据透视表或交叉表得到以下结果
① 以A列聚合，求出C,D的平均值
② 以A,B列聚合，求出D,E的均值、求和
③ 以B聚合，计算A列的元素频率
'''
import numpy as np
import pandas as pd

df = pd.DataFrame({'A':['one','two','three','one','two','three','one','two'],
                  'B':['h','h','h','h','f','f','f','f'],
                  'C':np.arange(10,26,2),
                  'D':np.random.randn(8),
                  'E':np.random.rand(8)})
print('创建df为：\n',df)
print('**'*30)
print('以A列聚合，求出C,D的平均值：\n',pd.pivot_table(df,index='A',values=['C','D' ]))
print('**'*30)
print('以A,B列聚合，求出D,E的均值、求和\n', pd.pivot_table(df,index=['A','B'],values=['D','E'],aggfunc=[np.mean,np.sum]))
print('**'*30)
print('以B聚合，计算A列的元素频率：\n',pd.crosstab(df['B'],df['A']))

创建df为：
        A  B   C         D         E
0    one  h  10 -1.122063  0.253705
1    two  h  12  1.957798  0.680415
2  three  h  14 -0.905734  0.024046
3    one  h  16  0.088365  0.941500
4    two  f  18 -1.049366  0.751780
5  three  f  20 -1.978912  0.752496
6    one  f  22  1.178894  0.195348
7    two  f  24 -0.524843  0.233057
************************************************************
以A列聚合，求出C,D的平均值：
         C         D
A
one    16  0.048399
three  17 -1.442323
two    18  0.127863
************************************************************
以A,B列聚合，求出D,E的均值、求和
              mean                 sum
                D         E         D         E
A     B
one   f  1.178894  0.195348  1.178894  0.195348
      h -0.516849  0.597602 -1.033698  1.195205
three f -1.978912  0.752496 -1.978912  0.752496
      h -0.905734  0.024046 -0.905734  0.024046
two   f -0.787104  0.492419 -1.574209  0.984838
      h  1.957798  0.680415  1.957798  0.680415
************************************************************
以B聚合，计算A列的元素频率：
 A  one  three  two
B
f    1      1    2
h    2      1    1