In [1]:
'''
【课程2.2】 Pandas数据结构Series：基本改建及创建，课堂作业
'''

'\n【课程2.2】 Pandas数据结构Series：基本改建及创建，课堂作业\n'

In [1]:
# 作业1：分别由字典、数组的方式，创建以下要求的Series
import numpy as np
import pandas as pd

# 字典创建
dic = {'Jack': 90.0, 'Marry':92.0, 'Tom': 89.0, 'Zack':65.0}
s = pd.Series(dic,name='作业1')
print(s)

# 数组创建
print('**'*20)
lst = [90.0,92.0,89.0,65.0]
s2 = pd.Series(lst, index=['Jack','Marry','Tom','Zack'],name='作业1')
print(s2)

Jack     90.0
Marry    92.0
Tom      89.0
Zack     65.0
Name: 作业1, dtype: float64
****************************************
Jack     90.0
Marry    92.0
Tom      89.0
Zack     65.0
Name: 作业1, dtype: float64

In [ ]:
'''
【课程2.3】 Pandas数据结构Series：索引，课堂作业
'''

In [7]:
'''
作业1：创建一个Series，包含10个元素，且每个值为0-100的均匀分布随机值，index为a-j，请分别筛选出：
① 标签为b，c的值为多少
② Series中第4到6个值是哪些？
③ Series中大于50的值有哪些？
''' 
s = pd.Series(np.random.rand(10)*100,index=list('abcdefghij'))
print('创建Series为：\n', s,'\n','--'*30)
print('标签为b，c的值为:\n',s['b'],s['c'],'\n','--'*30)
print('Series中第4到6个值是：\n',s[3:6],'\n','--'*30)
print('Series中大于50的值是：\n',s[s>50])

创建Series为：
 a    43.709090
b    31.099398
c     4.375543
d     6.993336
e    84.090407
f    74.256353
g    30.705242
h    44.149084
i    95.996354
j    73.156731
dtype: float64
 ------------------------------------------------------------
标签为b，c的值为:
 31.09939841290601 4.375542640853213
 ------------------------------------------------------------
Series中第4到6个值是：
 d     6.993336
e    84.090407
f    74.256353
dtype: float64
 ------------------------------------------------------------
Series中大于50的值是：
 e    84.090407
f    74.256353
i    95.996354
j    73.156731
dtype: float64

In [8]:
'''
【课程2.4  Pandas数据结构Series：基本技巧】 课程作业

'''

'\n【课程2.4  Pandas数据结构Series：基本技巧】 课程作业\n\n'

In [4]:
# 作业1：如图创建Series，并按照要求修改得到结果
s = pd.Series(np.arange(10),index=list('abcdefghij'))
print('创建s：\n',s)
s['a'] = 100
s['e':'f'] = 100
print('修改后s：\n',s)

创建s：
 a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int32
修改后s：
 a    100
b      1
c      2
d      3
e    100
f    100
g      6
h      7
i      8
j      9
dtype: int32

In [2]:
# 作业2：已有s1，s2（值为0-10的随机数），请求出s1+s2的值
s1 = pd.Series(np.random.rand(5)*10,index=list('abcde'))
print('创建s1为：\n', s1)
s2 = pd.Series(np.random.rand(5)*10,index=list('cdefg'))
print('创建s2为：\n', s2)
print('s1+s2为：\n',s1+s2)

创建s1为：
 a    6.576688
b    9.547936
c    3.859073
d    3.067435
e    6.097613
dtype: float64
创建s2为：
 c    4.408662
d    2.168923
e    4.430587
f    6.014679
g    5.136977
dtype: float64
s1+s2为：
 a          NaN
b          NaN
c     8.267734
d     5.236358
e    10.528200
f          NaN
g          NaN
dtype: float64

In [3]:
'''
【课程2.5  Pandas数据结构Dataframe：基本概念及创建】 课程作业

'''

'\n【课程2.5  Pandas数据结构Dataframe：基本概念及创建】 课程作业\n\n'

In [11]:
# 作业1：用四种不同的方法，创建以下Dataframe（保证columns和index一致，值不做要求）

# 方法一：由Series组成的字典
dic1 = {'one':pd.Series(np.random.randint(0,10,5),index=list('abcde')),
      'two':pd.Series(np.random.randint(0,10,5),index=list('abcde')),
      'three':pd.Series(np.random.randint(0,10,5),index=list('abcde')),
      'four':pd.Series(np.random.randint(0,10,5),index=list('abcde')),}
df1 = pd.DataFrame(dic1)
print(df)

# 方法二：由字典形成的列表, 一维key为columns，二维key为index
dic2 = {'one':{'a':2,'b':3,'c':3,'d':5,'e':4},
       'two':{'a':2,'b':3,'c':3,'d':5,'e':4},
       'three':{'a':2,'b':3,'c':3,'d':5,'e':4},
       'four':{'a':2,'b':3,'c':3,'d':5,'e':4},
    }
df2 = pd.DataFrame(dic2)
print(df2)

# 方法三：由数组/list 组成的字典
dic3 = {'one':np.random.randint(0,10,5),
       'two':np.random.randint(0,10,5),
       'three':np.random.randint(0,10,5),
       'four':np.random.randint(0,10,5)}
df3 = pd.DataFrame(dic3,index=list('abcde'))
print(df3)

#方法四：由字典生成的列表
lst = [{'one':1,'two':2,'three':3,'four':4},
      {'one':1,'two':2,'three':3,'four':4},
      {'one':1,'two':2,'three':3,'four':4},
      {'one':1,'two':2,'three':3,'four':4},
      {'one':1,'two':2,'three':3,'four':4}]
df4 = pd.DataFrame(lst,index=list('abcde'))
print(df4)

   four  one  three  two
a     5    8      3    0
b     7    1      2    6
c     9    4      2    6
d     0    5      3    0
e     4    9      4    6
   four  one  three  two
a     2    2      2    2
b     3    3      3    3
c     3    3      3    3
d     5    5      5    5
e     4    4      4    4
   four  one  three  two
a     6    5      3    0
b     6    7      5    7
c     3    3      0    0
d     9    8      4    5
e     3    1      7    3
   four  one  three  two
a     4    1      3    2
b     4    1      3    2
c     4    1      3    2
d     4    1      3    2
e     4    1      3    2

In [12]:
'''
【课程2.6  Pandas数据结构Dataframe：索引】 课程作业
'''

'\n【课程2.6  Pandas数据结构Dataframe：索引】 课程作业\n'

In [18]:
'''
作业1：如图创建Dataframe(4*4，值为0-100的随机数)，通过索引得到以下值
① 索引得到b，c列的所有值
② 索引得到第三第四行的数据
③ 按顺序索引得到two，one行的值
④ 索引得到大于50的值

'''
df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,index=['one','two','three','four'],
                 columns=list('abcd'))
print('创建DataFrame：\n',df)
print('--'*30)
print('索引得到b、c列的所有值：\n',df[['b','c']])
print('--'*30)
print('索引得到第3、4行的数据：\n',df.iloc[2:4])
print('--'*30)
print('索引得到two、one列的所有值：\n',df.loc[['two','one']])
print('--'*30)
print('索引得到大于50的值：\n',df[df>50])

创建DataFrame：
                a          b          c          d
one    40.176125  59.126069   7.730068  86.194932
two    88.883637  81.295160  40.782666  81.209865
three  54.339985   4.610994  85.252441  28.829172
four   62.922525  86.536019  50.322678  88.767360
------------------------------------------------------------
索引得到b、c列的所有值：
                b          c
one    59.126069   7.730068
two    81.295160  40.782666
three   4.610994  85.252441
four   86.536019  50.322678
------------------------------------------------------------
索引得到第3、4行的数据：
                a          b          c          d
three  54.339985   4.610994  85.252441  28.829172
four   62.922525  86.536019  50.322678  88.767360
------------------------------------------------------------
索引得到two、one列的所有值：
              a          b          c          d
two  88.883637  81.295160  40.782666  81.209865
one  40.176125  59.126069   7.730068  86.194932
------------------------------------------------------------
索引得到大于50的值：
                a          b          c          d
one          NaN  59.126069        NaN  86.194932
two    88.883637  81.295160        NaN  81.209865
three  54.339985        NaN  85.252441        NaN
four   62.922525  86.536019  50.322678  88.767360

In [ ]:
'''
【课程2.7  Pandas数据结构Dataframe：基本技巧】 课程作业
'''

In [22]:
# 作业1：创建一个3*3，值在0-100区间随机值的Dataframe（如图），分别按照index和第二列值大小，降序排序
df = pd.DataFrame(np.random.rand(9).reshape(3,3)*100,
                 index=list('abc'),
                 columns=['v1','v2','v3'])
print('创建DataFrame为：\n',df)
print('--'*30)
print('按照index降序排列为：\n', df.sort_index(ascending=False))
print('--'*30)
print('按照第二列值大小降序排列为：\n', df.sort_values(['v2'],ascending=False))

创建DataFrame为：
           v1         v2         v3
a  39.903740  13.125320  18.505953
b   1.037182  68.316784  33.409567
c   3.875824  23.123765  83.973178
------------------------------------------------------------
按照index降序排列为：
           v1         v2         v3
c   3.875824  23.123765  83.973178
b   1.037182  68.316784  33.409567
a  39.903740  13.125320  18.505953
------------------------------------------------------------
按照第二列值大小降序排列为：
           v1         v2         v3
b   1.037182  68.316784  33.409567
c   3.875824  23.123765  83.973178
a  39.903740  13.125320  18.505953

In [23]:
#作业2：创建一个5*2，值在0-100区间随机值的Dataframe（如图）df1，通过修改得到df2
df = pd.DataFrame(np.random.rand(10).reshape(5,2)*100,
                 index=list('abcde'),columns=['v1','v2'])
print('创建DataFrame为：\n',df)
df.loc['b'] = 100
print('修改后：\n',df.T)

创建DataFrame为：
           v1         v2
a   7.876502  35.252225
b  88.250197  85.398263
c  85.087415  58.241391
d  95.673654  96.631193
e   8.675417  82.464953
修改后：
             a      b          c          d          e
v1   7.876502  100.0  85.087415  95.673654   8.675417
v2  35.252225  100.0  58.241391  96.631193  82.464953